<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUR ANGULAR FORM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
        .error { color: rgb(0, 0, 0); font-size: 14px; }
    </style>
</head>
<body ng-app="aditya">
    <h1 style="text-align: center;">FILL THIS FORM CAREFULLY</h1>
    <hr>
    <div ng-controller="users" style="text-align: center;">
        <br>
        ENTER YOUR FIRST NAME : 
        <input type="text" ng-model="aa" ng-change="validateName()" style="padding: 5px; font-weight: 500;" placeholder="adityaraj">
        <p class="error" ng-show="nameError">{{ nameError }}</p>
        <br><br>

        ENTER YOUR MOBILE NO : 
        <input type="number" ng-model="bb" ng-change="validateMobile()" style="padding: 5px; font-weight: 500;" placeholder="8669792979">
        <p class="error" ng-show="mobileError">{{ mobileError }}</p>
        <br><br>

        ENTER EMAIL : 
        <input type="email" ng-model="cc" style="padding: 5px; font-weight: 500;" placeholder="aspatil2904@gmail.com">
        <br><br>
        ENTER PASSWORD : 
        <input type="password" ng-model="dd" style="padding: 5px; font-weight: 500;">
        <br><br>

        <button ng-click="submitForm()">Submit</button>

        <hr>
        <h2>Entered Details:</h2>
        <p><b>Full Name:</b> {{ aa }}</p>
        <p><b>Mobile No:</b> {{ bb }}</p>
        <p><b>Email:</b> {{ cc }}</p>
        <p><b>Password:</b> {{ dd }}</p>
    </div>

    <script>
        var myApp = angular.module('aditya', []);
        myApp.controller('users', function($scope) {
            $scope.aa = "";
            $scope.bb = "";
            $scope.cc = "";
            $scope.dd = "";

            $scope.nameError = "";
            $scope.mobileError = "";

            // Name Validation
            $scope.validateName = function() {
                if (!$scope.aa.match(/^[A-Za-z\s]{3,}$/)) {
                    $scope.nameError = "Name must be at least 3 characters and contain only letters.";
                } else {
                    $scope.nameError = "";
                }
            };

            // Mobile Number Validation
            $scope.validateMobile = function() {
                if (!$scope.bb.match(/^[0-9]{10}$/)) {
                    $scope.mobileError = "Mobile number must be exactly 10 digits.";
                } else {
                    $scope.mobileError = "";
                }
            };

            $scope.submitForm = function() {
                if ($scope.nameError || $scope.mobileError) {
                    alert("Please fix the errors before submitting.");
                    return;
                }
                alert("Form Submitted Successfully!");
            };
        });
    </script>
    <hr>
</body>
</html>
